<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sumit Saha" />
    <meta name="owner" content="learnwithsumit.com" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="./images/favicon.png" />
    <link rel="stylesheet" href="./stylesheets/toastify.css" />
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <script src="./js/toastify.js"></script>
    <script src="./js/moment.js"></script>
  </head>
  <body>
    <div class="menu">
      <% if (loggedInUser && loggedInUser.username) { %>
      <div class="menu-item"><a href="/inbox">Inbox</a></div>
      <div class="menu-item"><a href="/users">Users</a></div>
      <div class="menu-item">
        <% if (loggedInUser && loggedInUser.avatar) { %>
        <img
          src="./uploads/avatars/<%= loggedInUser.avatar %>"
          alt="<%= loggedInUser.name %>"
        />
        <% } else { %>
        <img src="./images/nophoto.png" alt="<%= loggedInUser.name %>" />
        <% } %>
        <a href="#" onclick="logout()">Logout</a>
      </div>
      <% } else { %>
      <div class="menu-item"><a href="/inbox">Inbox</a></div>
      <div class="menu-item"><a href="/users">Users</a></div>
      <div class="menu-item"><a href="/">Login</a></div>
      <% } %>
    </div>
    <script>
      // toast
      const logoutToast = Toastify({
        text: "You are being logged out...",
        duration: 1000,
      });

      function logout() {
        fetch("/", {
          method: "DELETE",
        });
        logoutToast.showToast();
        setTimeout(() => {
          window.location.replace("/");
        }, 1000);
      }
    </script>
  </body>
</html>
