<%- include('./partials/header.ejs'); %>

    <div id="login-container">
      <div id="left-column"></div>
      <div id="branding">
        <img src="./images/logo.png" />
        <h1>Login - Chat Application</h1>
      </div>
      <div id="login-form">
        <form method="post" action="/">
          <input
            type="text"
            name="username"
            placeholder="enter mobile or email"
            value=""
          />
          <p class="error show">Error message here</p>
          <input type="password" name="password" placeholder="enter password" />
          <input type="submit" value="Login" />
        </form>
      </div>
    </div>
  </body>
</html>
